<%- model_class = Problem -%>

<div class='row'>
  <div class='col-sm-12'>
    <div class='page-header'>
      <h1 class='pull-left'>
        <%=t '.title', :default => model_class.model_name.human.pluralize %>
      </h1>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:difficulty) %></th>
      <th><%= model_class.human_attribute_name(:solution) %></th>
      <th><%= model_class.human_attribute_name(:process) %></th>
      <th><%= model_class.human_attribute_name(:book_isbn) %></th>
      <th><%= model_class.human_attribute_name(:page) %></th>
      <th><%= model_class.human_attribute_name(:exercise_number) %></th>
      <th><%= model_class.human_attribute_name(:topic_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @problems.each do |problem| %>
      <tr>
        <td><%= link_to problem.id, problem_path(problem) %></td>
        <td><%= problem.description %></td>
        <td><%= problem.difficulty %></td>
        <td><%= problem.solution %></td>
        <td><%= problem.process %></td>
        <td><%= problem.book_isbn %></td>
        <td><%= problem.page %></td>
        <td><%= problem.exercise_number %></td>
        <td><%= problem.topic.name %></td>
        <td><%=l problem.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_problem_path(problem), :class => 'btn btn-primary btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      problem_path(problem),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_problem_path,
            :class => 'btn btn-primary' %>
